.spinner {
    margin: 5rem auto;
    grid-column: 2 / 3;
    text-align: center; 
}
.spinner svg {
      height: 6rem;
      width: 6rem;
      fill: rgb(71, 18, 71);
      animation: rotate 2s infinite linear; 
}
  
@keyframes rotate {
    0% {
      transform: rotate(0); }
    100% {
      transform: rotate(360deg); } 
}