.spinner {
    margin: 5rem auto;
    grid-column: 2 / 3;
    text-align: center; 
    @media only screen and (max-width: $bp-small) {
      grid-column: 1 / -1;
   }
}
.spinner svg {
      height: 6rem;
      width: 6rem;
      fill: black;
      animation: rotate 2s infinite linear; 
}
  
@keyframes rotate {
    0% {
      transform: rotate(0); }
    100% {
      transform: rotate(360deg); } 
}